/* 
==================================
=           CSS Elements           =
==================================
*/
html{
  font-size: 100%;
  background-color: rgba(255, 228, 196, 0.503)
}
* { 
    text-align: center;
    padding:0;
    font-family: Arial
}
body {
  margin: 0;
  width: 100%;
}
section{
  margin: 15px;
  padding: 0px;
  margin-right: 5%;
  margin-left: 4%;
}
li {
    list-style-position: inside;
}
.about{
  border: 3px solid #1463639c;
}
.experience {
  /* border: solid rgb(204, 181, 50); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}
.experience li{
  /* margin: 0; */
  list-style-type: none;
  border: 3px solid #1463639c;
  display: flex;
  justify-content: space-between; 
  margin: 5px;
  width: 60%;
  margin-right: 10%;
  margin-left: 10%;
}
header {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  /*  margin-top: -20px; works like display with similar purpose*/
    width: 100%;
    text-align: center;
    background:  #14636367;
    color: rgb(0, 0, 0);
  }
.header-text{
  float: inline-start;
  font-weight: bolder;
  }
  /* STYLE FOR HEADER BORDER */
.border1{
  border-top: 4px solid #146363e2;
  margin-top: 2px;
}
img#developer-alexis {
  margin-bottom: 10px;
  /* float: none;
  height: auto; */
  display: block;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
  color:rgb(204, 181, 50);
  box-shadow: 5px 2px 20px 2px rgba(0,0,0,.8);
}
form div+div {
    margin-top: 10px; /*<br>*/
    margin-bottom: 10px; */
}
.nav{
  background-color: none;
  display: flex;
  width: 100%;
  margin: auto;
  flex: 1;
  justify-content: space-between; 
}
.menu-item {
  color:rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  border-radius:  15px 50px; 
  background-color: #1463633e;
  border: 3px groove rgb(204, 181, 50);
  margin: 25px;
  flex: 1;
  justify-content: center;
  width: 30%;
  height: 100%;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.menu-item:hover{
  background-color: rgba(255, 228, 196, 0.495);
  text-decoration: none;
}
.skillslist{
  list-style-type: circle;
  margin: 0;
  flex-direction: column;
  list-style-type: none;
  border: 3px solid #1463639c;
  display: flex;
  justify-content: space-between; 
  margin-right: 30%;
  margin-left: 30%;
  padding: 0;
  /* width: 50%; */
}
.projectDescription {
  list-style-type: none;
  border: 3px solid #1463639c;
  display: block;
  justify-content: space-between;
  margin: 5px;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
}
.form {
  display: flex;
  justify-content: left;
  /* text-align: center; */
  margin-top: 20px;
  margin-bottom: 10px;
}
form {
  width: 700px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex: initial;
  margin: 0 auto;
  padding-top: 25px;
  text-align: left;
  border-radius: 40px;
  /* box-shadow: 0px 4px 4px #1463639c; */
  background-color: #1463639c;
  color: white;
}
.messageBox{
  text-align: start;
}
.icon {
  display: none;
}

/* 
==================================
=           FOOTER CSS           =
==================================
*/

/* STYLE FOR FOOTER BORDER */
.border{
  border-top: 4px solid #146363e2;
  margin-bottom: 0;
  margin-right: -100px;
  margin-left: -100px;
}
footer{
  background-color:#14636367;
  font-weight: bolder;
  font-size: 15px;
  /* display: block; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 10vh;
  margin-right: -100px;
  margin-left: -100px;
}
.socials {
  font-size: 29px;
}
.socrates{
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 13px;
  background-color:#14636367;
  margin: 0 -100px -50px -100px;
}

/* 
==================================
=            LINK STYLES          =
==================================
*/
a:link{
  text-decoration: none;
}
a:visited{
  color: none;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  text-decoration-color: rgb(204, 255, 0);
}


/* TRYING TPYING ANIMATION */
.header-text{
  border-right: 0.1em solid #000;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: typing 3.8s steps(500, end), blink-caret 0.25s step-end infinite;
}

  @keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #000
    }
}



/* 
==================================
=          MEDIA QUERIES         =
==================================
*/
/* Tablets */
@media (max-width: 1024px){
    body .nav:not(:last-child){
    display: flex;
  } 
}
@media (max-width: 870px){
  body .nav:not(:last-child){
    display: flex;
  } 
}

@media (max-width: 740px){
  .nav .menu-item span {
    display: none;
  }
}
@media (max-width: 670px){
  .experience li{ 
    flex-direction: column;
  }
}
/* Phones */
@media (max-width: 540px){
   body .nav {
    justify-content: center;
    align-items: center;
  } 
}
@media (max-width: 390px) {
  body .nav .menu-item{display: none;}
  body .nav .icon {
    display: flex;
  }
  .nav.responsive {
    flex-direction: column-reverse;
    align-items: center;
    flex: 1 1 auto;
  }
  .nav.responsive .menu-item {
    display: flex;
    flex: 1 1 auto;
  }
}
