html{
  font-size: 100%;
  background-color: rgba(255, 228, 196, 0.503);

}
* { 
    text-align: center;
    
}
body v
section{
  margin: 15px;
  padding: 0px;
  margin-right: 5%;
  margin-left: 4%;
}
li {
    list-style-position: inside;
}
header {
    letter-spacing: 2px;
    display: inline-block;
  /*  margin-top: -20px; works like display with similar purpose*/
    width: 100%;
    text-align: center;
    background: #1463639c;
    color: rgb(0, 0, 0);
  }
.header-text{
    float: inline-start;
  }
  
  
img#developer-alexis {
  /* background-size: 175px; */
  float: none;
  width: 15%;
  height: auto;
  border: 3px solid;
  color:rgb(204, 181, 50);
}
blockquote.socrates {
    margin: 0px;
}
form div+div {
    margin-top: 10px; /*<br>*/
    margin-bottom: 10px; */
}
.nav{
  background-color: none;
  display: block;
  margin-top: 15px;
  /* margin-left: auto */
  float: none;
}
.menu-item {
  color:rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  border-radius:  15px 50px; 
  border: 3px groove rgb(204, 181, 50);
  display: inline-table;
  margin-top: 10px;
  margin-left: auto;
  float: none;
  width: 110px;
  height: 100%;
}
.menu-item:hover{
  background-color: rgba(255, 228, 196, 0.495);
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
a:visited{
  color: none;
}
a:hover{
  text-decoration: underline;
}
.border{
  border-top: 4px solid #146363e2;
}
.border1{
  border-top: 4px solid #146363e2;
  margin-top: 2px;
}
footer{
  background-color:#14636367;
  font-weight: bolder;
}
