html{
  font-size: 100%;
  background-color: rgba(255, 228, 196, 0.503)
}
* { 
    text-align: center;
}
body {
  margin-top: 0px;
}
section{
  margin: 15px;
  padding: 0px;
  margin-right: 5%;
  margin-left: 4%;
}
li {
    list-style-position: inside;
}
.experience li{
  margin: 0;
  list-style-type: none;
  border: 3px solid #1463639c;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
header {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  /*  margin-top: -20px; works like display with similar purpose*/
    width: 100%;
    text-align: center;
    background: #1463639c;
    color: rgb(0, 0, 0);
  }
.header-text{
    float: inline-start;
  }
img#developer-alexis {
  float: none;
  width: 15%;
  height: auto;
  border: 3px solid;
  color:rgb(204, 181, 50);
  box-shadow: 5px 2px 20px 2px rgba(0,0,0,.8);
}
blockquote.socrates {
    margin: 0px;
}
form div+div {
    margin-top: 10px; /*<br>*/
    margin-bottom: 10px; */
}
.nav{
  background-color: none;
  display: flex;
  width: 100%;
  margin: 15px;
  /* float: inline-start; */
  /* padding: 8px 150px 8px 0px; */
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between; 

}
.menu-item {
  color:rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  border-radius:  15px 50px; 
  border: 3px groove rgb(204, 181, 50);
  /* display: inline-table; */
  /* margin-top: 10px; */
  margin: 25px;
  flex: 1;
  /* float: none; */
  width: 110px;
  height: 100%;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.menu-item:hover{
  background-color: rgba(255, 228, 196, 0.495);
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
a:visited{
  color: none;
}
a:hover{
  text-decoration: underline;
}
.border{
  border-top: 4px solid #146363e2;
}
.border1{
  border-top: 4px solid #146363e2;
  margin-top: 2px;
}
footer{
  background-color:#14636367;
  font-weight: bolder;
  font-size: 11.5px;
}
.socrates{
  font-size: 15px;
}
/* add media queries!!!! */
/* how do i let the nav bar move down? */
/* how to change to footer font size */

/* Tablets */
@media (max-width: 1024px){
    body .nav .menu-item #About span{
    display: flex;
    flex-wrap: wrap;
  } 
}
@media (max-width: 870px){
   body .nav {
    display: flex;
    flex-wrap: wrap;
  } 
}
@media (max-width: 670px){
  .experience li{ 
    flex-direction: column;
  }
}
/* Phones */
@media (max-width: 540px){
   body .nav {
    justify-content: center;
    align-items: center;
  } 
}
